/*
* This File is the default value for the app
*/

//
// Switch 
//

//
// Material Colors
//
$primary-color: #303f9f;
$primary-light-color: #666ad1;
$primary-dark-color: #001970;
$secondary-color: #3e2723;
$secondary-light-color: #6a4f4b;
$secondary-dark-color: #1b0000;
$background-color: #f7efef;
$surface-color: #ffffff;
$error-color: #ff150a;
$border-color: #d4cbcb;

//
// Text Colors
//
$primary-text-color: #fff;
$secondary-text-color: #fff;
$background-text-color: #000;
$surface-text-color: #ee0;
$error-text-color: #fff;

//
// Fonts
//
@import url('https://fonts.googleapis.com/css?family=Raleway:400');
@import url('https://fonts.googleapis.com/css?family=Roboto');

//
// Test Size
//
$h1: 30px;


//
// Dimentions/paddings
//
$top-height: 80px;
$box-padding: 30px;
$gap: 40px;

//
// Other
//
$border: 1px solid $border-color;