/*
* This File is the default value for the app
*/

//
// Switch 
//

//
// Material Colors
//
$primary-color: #b118c8;
$primary-light-color: #6746c3;
$primary-dark-color: #000063;
$secondary-color: #263238;
$secondary-light-color: #4f5b62;
$secondary-dark-color: #000a12;
$background-color: #858c93;
$surface-color: #ffffff;
$error-color: #b71c1c;
$border-color: #d6e2eb;

//
// Text Colors
//
$primary-text-color: #fff;
$secondary-text-color: #fff;
$background-text-color: #000;
$surface-text-color: #1c1c1c;
$error-text-color: #fff;

//
// Fonts
//
@import url('https://fonts.googleapis.com/css?family=Raleway:400');
@import url('https://fonts.googleapis.com/css?family=Roboto');

//
// Test Size
//
$h1: 30px;

//
// Dimentions/factos
//
$top-height: 60px;
$box-padding: 30px;
$list-menu-height: 40px;
$list-menu-padding-gap:15px;
//Hero list properties
$list-height:30px;
$list-width:150px;

//
// Other
//
$border: 1px solid $border-color;
$border-radius:6px;