// 
//  This sheet is to design the header of the page
// 
@import '../../style/_base.scss';

//
// Variables
//
$padding-gap: 30px;
$menu-height: 40px;
$top-h1-font-size:20px;

//
// Main style
//
.top{
    @extend %primary;
    @extend %list-menu;
    
    height: $top-height;

    h1{
        float: left;
        font-size:$top-h1-font-size;
        
        margin:{
            top:($top-height - $top-h1-font-size)/2 - ($top-h1-font-size / 5);
            left:$padding-gap;
        }
    }

    .top-menu{
        float: right;
        margin:{
            top: ($top-height - $menu-height)/2;
            right:$padding-gap;
        }
        
    }
}