// 
//  This sheet is to design the header of the page
// 
@import '../../style/_base.scss';

//
// Variables
//
$padding-gap: 30px;
$menu-height: 40px;


//
// Main style
//
.top{
    @extend %primary;
    @extend %list-menu;
    
    height: $top-height;

    h1{
        float: left;
        
        margin:{
            top:($top-height - $h1)/2 - 5;
            left:$padding-gap;
        }
    }

    .top-menu{
        float: right;
        margin:{
            top: ($top-height - $menu-height)/2;
            right:$padding-gap;
        }
        
    }
}