<div class="heroes">  
  <h2>My Heroes</h2>

  <ul class="heroes-list">
  
    <li *ngFor="let hero of heroes" (click)="onSelect(hero)" [class.heroes-list--selected]="hero === selectedHero">
      <span class="heroes-list_badge"> {{ hero.id }}</span>
      {{hero.name}}
    </li>

  </ul>

</div>


<div class='selected-hero-board' *ngIf="selectedHero">
  <h2> {{ selectedHero.name || uppercase}} </h2>
  <div> 
    <span>id: </span>
    {{ selectedHero.id }}
  </div>
      <label>name: 
        <input [(ngModel)]="selectedHero.name" placeholder="name">
      </label>
</div> 