<div class="heroes">  
  <h2>My Heroes</h2>

  <ul class="heroes-list">
  
    <!--
      *ngFor print perticular for n times 
      (click) is to event bind a function, and send the selected data
      [class.class-name]="(if case here)"
    -->
     <!--
      [class.heroes-list--selected]="hero === selectedHero"
      (click)="onSelect(hero)"-->
    <a *ngFor="let hero of heroes"  
      routerLink="/details/{{hero.id}}">
    <li >
      <span class="heroes-list_badge"> {{ hero.id }}</span>
      {{hero.name}}
    </li>
    </a>

  </ul>

</div>

<!-- 
  We are sending the selectedHero as a hero in app-hero-detail
-->
<!--<app-hero-detail [hero]="selectedHero"></app-hero-detail>-->

